input {
    width: 100%;
    padding-left: 5px;
    padding-right: 20px;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-gray);
}

.label {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.email,
.password,
.submit,
.text {
    height: 40px;
}

.submit {
    color: #fff;
    background-color: var(--color-button);
    cursor: pointer;
}

.submit:hover {
    background-color: var(--color-active-button);
}

@media screen and (max-width: 319px) {
    .input {
        height: 25px;
    }

    .submit {
        height: 30px;
    }
}
