$input-font-size: 14px;
$submit-bg-color: #fff;

input {
    width: 100%;
    padding-left: 0.35em;
    padding-right: 1.5em;
    font-size: $input-font-size;
    line-height: 2.5em;
    color: var(--color-gray);
}

.label {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.email,
.password,
.submit,
.text {
    height: 40px;
}

.submit {
    color: $submit-bg-color;
    background-color: var(--color-button);
    cursor: pointer;

    &:hover {
        background-color: var(--color-active-button);
    }
}

@media screen and (max-width: 319px) {
    .input {
        height: 25px;
    }

    .submit {
        height: 30px;
    }
}
