.menu {
    display: flex;
    column-gap: 40px;
    row-gap: 10px;
    flex: 0 1 calc(494 / 1240 * 100%);
}

@media screen and (max-width: 767px) {
    .menu {
        column-gap: 30px;
    }
}

@media screen and (max-width: 576px) {
    .menu {
        flex-direction: column;
        flex-basis: 100px;
        column-gap: 15px;
    }
}

@media screen and (max-width: 479px) {
    .menu {
        column-gap: 5px;
    }
}

.menu__menu-item {
    padding: 5px 0;
    font-size: 1.1em;
}

@media screen and (max-width: 479px) {
    .menu__menu-item {
        font-size: 1em;
    }
}
