.gallery {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
}

.gallery__gallery_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3em;
    column-gap: 0.5em;
}

.arrow {
    width: 30px;
    height: 30px;
}

button.show_brands_button {
    display: none;
    width: 200px;
    align-self: center;
}

@media screen and (max-width: 767px) {
    .gallery__gallery_container {
        display: none;
    }

    button.show_brands_button {
        display: block;
    }
}

.show_gallery {
    display: flex;
}
