:root {
    --color-background: #f9f1e7;
    --color-background-opacity-small: rgba(249, 241, 231, 0.5);
    --color-background-opacity-large: rgba(249, 241, 231, 0.8);

    --color-active: rgb(145, 42, 42);
    --color-gray: #767676;
    --color-button: #3cb46e;
    --color-active-button: #429966;
    --color-article-background: #f2e6da;
    --color-search-form-icon: #333333;
    --line-height: 1.6em;
    --gallery_column_gap_small: 10px;
}
.wrapper,
.content__wrapper {
    width: 100%;
    height: 100%;
}

html {
    font-size: 16px;
}

body {
    color: #111;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: var(--line-height);
    background-color: var(--color-background);
}

/*** WRAPPER ***/

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*** CONTAINER ***/

._container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 10px;
}

@media screen and (max-width: 319px) {
    ._container {
        padding: 2px;
    }
}

/*** CONTENT ***/

.content__wrapper {
    display: flex;
    flex-direction: column;
}

.content__wrapper ~ div {
    width: 100%;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.8;
    display: none;
}

.show-overlay {
    display: block;
}

.link {
    transition: color 0.3s;
}

.link:hover {
    color: var(--color-active);
    text-decoration: underline;
}

.active {
    color: var(--color-active);
}
