.about__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 1.1em;
}

.resorts__filter {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.filter__list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.list__title {
    font-weight: 700;
}

@media screen and (max-width: 767px) {
    .resorts__filter {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
        row-gap: 10px;
    }
}

@media screen and (max-width: 391px) {
    .about__content {
        font-size: 1em;
        gap: 10px;
    }
    .resorts__filter {
        font-size: 0.8em;
        margin-top: 10px;
    }
}
