.navigation__container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2.2em;
    min-height: 100px;
    padding: 1.1em 0.5em;
}

@media screen and (max-width: 767px) {
    .navigation__container {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
}

@media screen and (max-width: 479px) {
    .navigation__container {
        gap: 0px;
        padding: 0px;
    }
}

@media screen and (max-width: 319px) {
    .navigation__container {
        justify-content: space-around;
    }
}
