.search-form {
    max-width: 400px;
    background-color: #fff;
    display: flex;
    align-items: center;
    transition: max-width 0.3s;
}

.search {
    padding-right: 0.83em;
    flex: 1 1 auto;
}

.search-form__icon {
    flex: 0 0 45px;
    width: 45px;
    height: 45px;
    font-size: 15px;
    color: var(--color-search-form-icon);
}

@media screen and (max-width: 767px) {
    .search-form {
        max-width: 300px;
    }
}

@media screen and (max-width: 479px) {
    .search {
        flex: 0.5 1 auto;
    }
}

@media screen and (max-width: 319px) {
    .search {
        flex: none;
    }
    .search-form__input {
        display: none;
    }
}
