.home {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.home__content {
    font-size: 2rem;
}

@media screen and (max-width: 1200px) {
    .home {
        row-gap: 30px;
    }
}
