.home {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.home__content {
    font-size: 2rem;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .home {
        row-gap: 30px;
    }
    .home__content {
        font-size: 1.9rem;
    }
}

@media screen and (max-width: 991px) {
    .home__content {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 479px) {
    .home__content {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 319px) {
    .home__content {
        font-size: 1rem;
    }
}
