.enter-popup {
    width: 200px;
    margin: 0 auto;
    padding: 1.38em 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

.login-popup,
.registration-popup {
    width: 600px;
    padding: 1.38em 0.83em;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 10;
    border: 1px solid var(--color-active-button);
    border-radius: 0.2em;
    background-color: var(--color-background);
    display: none;
}

.login-popup_position_c,
.registration-popup_position_c {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
}

.show-popup {
    display: flex;
}

@media screen and (max-width: 576px) {
    .login-popup,
    .registration-popup {
        width: 350px;
    }
}

@media screen and (max-width: 479px) {
    .login-popup,
    .registration-popup {
        width: 300px;
        transform: translate(-50%, -25%);
    }
}

@media screen and (max-width: 319px) {
    .login-popup,
    .registration-popup {
        width: 200px;
    }
}
