.footer__top {
    padding: 25px 0;
    background-color: var(--color-active);
    color: var(--color-background);
}

.footer__middle {
    padding-top: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.middle__column:last-child {
    padding-left: 30px;
    border-left: 2px solid var(--color-active);
}

.middle__column_item {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.middle__column__text {
    display: block;
}

.middle__column__value {
    display: inline-block;
    font-weight: 700;
    color: var(--color-active);
}

.footer__bottom {
    padding: 25px 0 5px;
}

.soical {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.social__icons {
    display: flex;
    gap: 20px;
}

.social_logo {
    display: inline-block;
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 767px) {
    .footer {
        padding-top: 30px;
    }
    .footer__top {
        padding: 30px 0 30px 0;
    }
    .footer__middle {
        padding-top: 30px;
    }
    .middle__column:last-child {
        padding-left: 15px;
    }
    .middle__column h3,
    .soical h3 {
        font-size: 1em;
    }
    .middle__column ul {
        padding-top: 10px;
    }
}

@media screen and (max-width: 479px) {
    .footer {
        padding-top: 5px;
    }
    .footer__top {
        padding: 10px 0 10px 0;
    }
    .footer__middle {
        padding-top: 10px;
    }
    .middle__column:last-child {
        padding-left: 15px;
    }
    .middle__column h3,
    .soical h3 {
        font-size: 0.7em;
    }
    .middle__column ul {
        padding-top: 10px;
    }
}

@media screen and (max-width: 319px) {
    .footer__top {
        padding: 5px 0 5px 0;
    }
    .footer__middle {
        grid-template-columns: none;
        grid-template-rows: repeat(3, 1fr);
    }
}
