.map {
    position: relative;
    --height-ymap-container-big: 600px;
    --height-ymap-container-medium: 400px;
    --height-ymap-container-small: 320px;
    --top-font-size: 1.8rem;
    --top-font-size-small: 1rem;
    --legend-min-width: 270px;
    --legend-max-width: 315px;
}

.ymap__container {
    width: 100%;
    height: var(--height-ymap-container-big);
    border: none;
}

.map__hint {
    width: 200px;
    height: 140px;
}

.map__legend {
    position: absolute;
    top: 0;
    left: 100px;
    height: var(--height-ymap-container-big);
    color: var(--color-active);
    background-color: var(--color-background-opacity-small);
    z-index: 1;
    min-width: var(--legend-min-width);
    max-width: var(--legend-max-width);
    padding: 50px 10px 0;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.legend__title {
    text-align: center;
}

.legend__countries {
    font-size: var(--top-font-size);
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    counter-reset: topboard;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    counter-increment: topboard;
    position: relative;
    padding: 10px;
    padding-left: 50px;
    cursor: pointer;
    background-color: var(--color-background-opacity-large);
}

.row::before {
    content: counter(topboard);
    position: absolute;
    z-index: 2;
    top: 12px;
    left: 15px;
    width: 25px;
    height: 25px;
    color: var(--color-active);
    background: #fff;
    border-radius: 20px;
    text-align: center;
    font-size: var(--top-font-size-small);
}

@media screen and (max-width: 991px) {
    .ymap__container {
        height: var(--height-ymap-container-medium);
    }
    .map__legend {
        height: var(--height-ymap-container-medium);
    }
}

@media screen and (max-width: 991px) {
    .map__legend {
        row-gap: 20px;
        padding-top: 10px;
    }
}

@media screen and (max-width: 479px) {
    .ymap__container {
        height: var(--height-ymap-container-small);
    }
    .map__legend {
        padding-top: 5px;
        top: 100%;
        left: 50%;
        transform: translate(-50%);
        width: 100%;
        height: auto;
        min-height: var(--height-ymap-container-small);
    }

    .map {
        margin-bottom: var(--height-ymap-container-small);
    }

    .legend__countries {
        font-size: var(--top-font-size-small);
        row-gap: 5px;
        padding: 5px 5px 5px;
    }

    .row {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .row::before {
        top: 10px;
        left: 10px;
        width: 25px;
        height: 25px;
    }
}
